body {
	  background-color: #b02a37;
}

.carousel-caption {
	background-color: rgb(40,36,44,0.9);
}

.img-pixalated-player {
	image-rendering: pixelated;
    height: 200px;
}

.img-a-50-pourcent {
	max-width: 50%;
}

.img-telephone {
	height: 500px;
}